* {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 3.5vh;
    background-color: rgb(26, 4, 46);
    color: white;
    font-size: 2.8rem;
}
.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 185px;
    width: 185px;
    object-fit: cover;
    border-radius: 100%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  .message-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    gap: 5.5rem;
  }
  #user-score, #comp-score {
    font-size: 4.5rem;
  }
  #msg{
    background-color: #081b31;
    color: #fff;
    padding: 1.2rem;
    border-radius: 15%;
  }
  #reset{
    background-color: #081b31;
    color: #fff;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 1.4rem;
    margin-top: -35px;
    border-radius: 15%;
  }